* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

:root {
    --darkGreen: #071E22;
    --orange: #FC440F;
    --white: #ffffff;
    --lightBlack: #878787;
    --black: #000000;
    --shadow: rgba(0, 0, 0, 0.5);
    --bg-1: linear-gradient(to top, #071E22 0%, #FC440F 100%);

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    z-index: 11;
    position: fixed;
    width: 100%;
    padding: 15px 0px;
    transition: all 0.3s ease;
}

.hero_section {
    /* position: relative; */
    height: 600px;
    background-image: linear-gradient(rgba(2, 200, 255, 0.4), rgba(0, 0, 0, 0.8)), url('/images/bg_\ \(1\).jpg');
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    background-repeat: no-repeat;
    background-position: center;
}


/* main content */

.max_width,
ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar.sticky {
    padding: 30px 0px;
    background-color: var(--darkGreen);
}

.navbar.sticky ul li a,
.navbar.sticky .logo a {
    color: var(--white);
    transition: all 0.3s ease;

}

.navbar .logo a {
    font-size: 30px;
    font-weight: 700;
    color: var(--white);
}

.navbar .logo span {
    color: var(--orange);
}

.navbar ul li {
    margin: 0px 10px;
    position: relative;
}

.navbar ul li a.active {
    color: var(--orange);
}

.navbar ul li a {
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 0%;
    height: 2px;
    background-color: var(--orange);
    transition: all 0.3s ease;
}

.navbar ul li a:hover::after {
    width: 100%;
    color: var(--orange);
}

.navbar #icon {
    font-size: 23px;
    color: var(--white);
    cursor: pointer;
    display: none;
}

/* Hero Section */

.max_width .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
}

.max_width .content h1 {
    font-size: 50px;
    font-weight: 700;
}

.max_width .content span {
    color: var(--orange);
    font-weight: 800;
}

.max_width .content p {
    margin: 30px 0px;
}

.max_width .content a {
    padding: 10px 40px;
    outline: none;
    border: 2px solid var(--orange);
    background-color: transparent;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.max_width .content a:hover {
    color: var(--white);
    background-color: var(--orange);
}



/* About Section styling */
#about {
    padding: 0 40px;
    height: 100vh;
    margin-top: 30px;
}

.about .title {
    margin: 30px;
    text-align: center;
}

.about .title h2 {
    font-size: 3rem;
    color: var(--orange);
}

.about .title p {
    text-transform: capitalize;
    color: var(--darkGreen);
}

.about .main_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.main_box .left {
    width: 50%;
}

.main_box .left img {
    width: 100%;
    height: 100%;
}

.main_box .right {
    width: calc(100% - 45%);
    padding: 30px;

}

.main_box .right h2 {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: var(--orange);
    border-bottom: 2px solid var(--darkGreen);

}

.main_box .right p {
    margin: 20px 0;
    text-align: justify;
    line-height: 2;
}

.main_box .right a {
    padding: 10px 30px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--orange);
    color: var(--orange);
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.main_box .right a:hover {
    color: var(--white);
    background-color: var(--darkGreen);
    border: 2px solid var(--darkGreen);
}


/* back to top  */
.back2Top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

.back2Top:hover {
    background-color: var(--darkGreen);
}

.back2Top.active {
    display: block;
    z-index: 1;
}

/* footer section  */

footer {
    height: 350px;
    padding-top: 50px;
    background-color: var(--darkGreen);
}

footer .footer_tabs,
.bottom_footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.footer_tabs .footer_head {
    font-size: 14px !important;
    /* margin: 10px 0; */
    color: var(--lightBlack) !important;
    font-weight: 500;
    text-transform: uppercase;
    pointer-events: none;
}

.footer_tabs a {
    color: var(--white);
    font-size: 12px;
}

.footer_tabs a:hover {
    text-decoration: underline;
}

.footer_tabs .address p {
    line-height: 2;
    text-align: left;
    color: var(--white);
    font-size: 12px;
}

.footer_tabs .local_Off {
    padding-left: 10px;
    border-left: 1px solid var(--white);
}

footer .bottom_footer {
    border-top: 1px solid var(--lightBlack);
    margin-top: 40px;
    padding: 20px 0px;
}

footer .bottom_footer a,
.bottom_footer span {
    font-size: 15px;
    color: var(--white);
}




/* Responsive styling */
@media (max-width: 991px) {
    .navbar ul li a {
        font-size: 16px;
    }

    .navbar .logo a {
        font-size: 20px;
        font-weight: 500;
    }
}

@media (max-width: 666px) {
    .navbar #icon {
        display: block;
    }

    .navbar #icon i.active::before {
        content: '\f00d';
    }

    .navbar ul {
        padding-top: 50px;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        right: -100%;
        top: 90px;
        text-align: center;
        display: block;
        transition: all 0.3s ease-in;
    }

    .navbar ul li {
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar ul.show {
        right: 0%;
    }

}